@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7r0h87');
  src:  url('fonts/icomoon.eot?7r0h87#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7r0h87') format('truetype'),
    url('fonts/icomoon.woff?7r0h87') format('woff'),
    url('fonts/icomoon.svg?7r0h87#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ken_action:before {
  content: "\e900";
}
.icon-ken_close:before {
  content: "\e901";
}
.icon-ken_key:before {
  content: "\e902";
}
.icon-ken_passwd:before {
  content: "\e903";
}
.icon-ken_phone:before {
  content: "\e904";
}
.icon-kenbot:before {
  content: "\e905";
}
.icon-kensearch:before {
  content: "\e906";
}
.icon-uniE907:before {
  content: "\e907";
}
.icon-uniE908:before {
  content: "\e908";
}
.icon-kendelete:before {
  content: "\e909";
}
.icon-ken_msg:before {
  content: "\e90a";
}
.icon-ken_down:before {
  content: "\e90b";
}
.icon-ken_up:before {
  content: "\e90c";
}
.icon-ken_star:before {
  content: "\e90d";
}
.icon-notice:before {
  content: "\e90e";
}
.icon-ken_left:before {
  content: "\e90f";
}
.icon-ken_right:before {
  content: "\e910";
}
.icon-kenwarning:before {
  content: "\e911";
}
.icon-ken_quest:before {
  content: "\e912";
}
.icon-kenup:before {
  content: "\e913";
}
.icon-ken_minus:before {
  content: "\e914";
}
.icon-kenarrow_up:before {
  content: "\e915";
}
.icon-kenarrow_down:before {
  content: "\e916";
}
.icon-ken_plus:before {
  content: "\e917";
}
.icon-kenquestion:before {
  content: "\e918";
}
