$big-size = 0.52rem
$l-size = 0.36rem
$sl-size = 0.32rem
$main-size = 0.26rem
$s-size = 0.24rem
$ss-size = 0.18rem


// 颜色定义规范
$color-cont = #f6f6f6
$main-color = #e2bd51

//字体颜色规范
$size-a = #fff
$size-color = #333
$color-b = #666

//border 颜色
$border-color = #dedede
